---
import { Img } from "astro-imagetools/components";
import CommonHead from "../../components/HeaderAndFooter/CommonHead.astro";
---

<CommonHead
  fontUrl="https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap"
  title="Aero - Virtual Cycling Wind Tunnel"
  description="Utilizing an optimal cycling body position significantly reduces the defeating effects of wind resistance. Today, Aero navigates you towards wind resistance minimization - on the web."
  image="/src/assets/images/aero/aero.png"
  themeColor="black"
>
  <div id="cover">
    <Img
      src="/src/assets/images/aero/aero.png"
      alt=""
      loading="lazy"
      placeholder="blurred"
      format="webp"
      breakpoints={[400, 800, 1200, 1600, 2000]}
      quality={50}
    />
    <Img
      src="/src/assets/images/aero_before.jpg"
      alt=""
      loading="lazy"
      placeholder="blurred"
      format="webp"
      breakpoints={[400, 800, 1200, 1600, 2000]}
      quality={50}
      attributes={{
        img: {
          id: "topImage",
        },
      }}
    />
    <div id="coverMain">
      <h1>Aero<br /><span id="byline">by Blake</span></h1>
      <h2>
        Virtual wind tunnel.<br />For your garage.<br />By webcam.
      </h2>
      <a class="button" href="/aero/app">Launch App</a>
    </div>
  </div>
  <h3>Expand your Indoor Cycling Training Arsenal</h3>
  <p>
    On the road, utilizing an optimal cycling body position significantly
    reduces the defeating effects of wind resistance - a cyclist's worst enemy
    at speed. Finding and practicing aerodynamic positioning used to mean
    spending hundreds of hours on the road, or if the budget allows,
    commissioning your closest wind tunnel - but not anymore.
  </p><p>
    <span class="italics">Aero</span> enables interactive experimentation of your
    body geometry as you pedal along at home. Finally picture these invisible effects
    in vivid color. Improve your power efficiency in a way power meters themselves
    can't analyze. Bring your webcam. That's all.
  </p>
  <h3>Academic Design & Cutting-Edge Innovation</h3>
  <p>
    Hi, I'm <a href="/" target="_blank">Blake</a>. During graduate school, I
    studied and further advanced state-of-the-art machine learning methods.
    Today, this flame continues to burn bright - a passion to quantitatively
    model real-world use cases and apply computational insight.
  </p><p>
    As I traverse my endurance triathlon journey, I'm learning to harmoniously
    compound my complete skill set - swimming, biking, and running, but also
    machine learning, physics, mathematics, and programming.
  </p>
  <p>
    <span class="italics">Aero</span> blew me back into top research journals, where
    I brushed up on computer vision-based image segmentation, fluid dynamics, Eulerian
    simulation, and hardware-accelerated web technologies. Culminating from a thorough
    academic survey, chaotic whiteboard sessions, curious software experiments, and
    key development victories, I am thrilled to share this tool with the cycling
    community.
  </p>
  <a class="button" href="/blog/Aero/breakdown">Read Technical Breakdown</a>
</CommonHead>

<!-- <html>
  <head
    ><meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body> </body>
</html> -->

<style lang="scss" is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    line-height: 150%;
    font-weight: 300;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }
  body :not(#cover, #cover *) {
    max-width: 800px;
  }
  .italics {
    font-style: italic;
    font-weight: 700;
    color: black;
  }
  #cover {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    height: calc(100svh - 100px);
    margin-bottom: 1em;
  }

  img {
    position: absolute;
    height: 100% !important;
    object-fit: cover;
    z-index: -1;
  }
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeInBackground {
    from {
      background-color: rgba(0, 0, 0, 0.2);
    }
    to {
      background-color: transparent;
    }
  }

  #topImage {
    animation: fadeout 4s ease-in-out infinite alternate both;
  }

  #coverMain {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    color: white;
    // animation: fadeInBackground 4s ease-in-out infinite alternate both;
    font-size: 3.3em;
    line-height: 0.4em;
    padding: 0.4em 0.7em;
    padding-top: 0.7em;
    font-style: italic;
    // filter: saturate(0) contrast(30000%);
    #byline {
      font-style: normal;
      font-size: 0.3em;
    }
    font-weight: 500;
    // border-bottom-right-radius: 0.2em;
  }
  h2 {
    font-size: 2.6em;
    text-align: center;
    align-self: center;
    color: white;
    font-weight: 500;
    padding: 0 1em;
  }

  .button {
    text-decoration: none !important;
    padding: 0.5em 0.8em;
    font-size: 1.2em;
    margin-top: 1em;
    border-radius: 0.4em;
    cursor: pointer;
    font-weight: 500;
    transition:
      background 0.2s ease,
      color 0.2s ease,
      border 0.2s ease,
      border-radius 0.2s ease,
      transform 0.14s ease;
    background: linear-gradient(
      117deg,
      rgba(200, 0, 0, 0.4) 0%,
      rgba(200, 167, 0, 0.4) 50%,
      rgba(0, 200, 188, 0.4) 50%,
      rgba(0, 80, 200, 0.4) 100%
    );
    color: black;
    filter: saturate(2.5);
    border: 0.1em solid white;
  }

  #cover .button {
    backdrop-filter: blur(0.25em);
    color: white;
    background: linear-gradient(
      117deg,
      rgba(200, 0, 0, 0.3) 0%,
      rgba(200, 167, 0, 0.3) 50%,
      rgba(0, 200, 188, 0.3) 50%,
      rgba(0, 80, 200, 0.3) 100%
    );
    filter: saturate(1.7);
    // border: 1px solid white;
    // box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.3);
  }

  .button:hover {
    // border: 0.1em solid black;
    transform: scale(1.03);
    // text-decoration: underline !important;
  }

  #cover .button:hover {
    // border: 0.4em solid white;
    // border-radius: 0.8em;
    transform: scale(1.1);
    // color: black !important;
  }
  h3 {
    font-size: 1.5em;
    margin: 1em 1.5em;
    margin-top: 1.6em;
    text-align: center;
    font-weight: 700;
  }

  p {
    font-size: 1.2em;
    margin: 0.4em 1.5em;
    text-indent: 2em;
    color: rgba(0, 0, 0, 0.6);
    a {
      color: rgb(0, 124, 219) !important;
      text-decoration: underline;
      font-weight: 500;
    }
  }

  @media screen and (max-width: 500px) {
    h2 {
      font-size: 2em;
    }
  }
</style>
