---
---

<head>
  <!-- <script src="./ml.js" type="module"></script> -->
</head>
<body>
  <video autoplay playsinline webkit-playsinline muted id="videoelement"
  ></video>
  <canvas id="physicsCanvas"></canvas>
  <canvas id="videoCanvas"></canvas>
  <div>
    <input id="resetFluidButton" type="button" value="Reset fluid" />
    <input id="stepButton" type="button" onclick="simulate()" value="Step" />
    <input id="startButton" type="button" value="Start" />
  </div>
  <div>
    Flow speed = <span id="speedValue">0.100</span>
    <input
      id="speedSlider"
      type="range"
      min="0"
      max="0.12"
      step="0.005"
      value="0.1"
    />
    &nbsp;&nbsp;Viscosity = <span id="viscValue">0.020</span>
    <input
      id="viscSlider"
      type="range"
      min="0.005"
      max="0.2"
      step="0.005"
      value="0.02"
    />
  </div>

  <div>
    Animation speed:
    <input
      id="stepsSlider"
      type="range"
      min="1"
      max="40"
      step="1"
      value="20"
      onchange="resetTimer()"
    />
    &nbsp;&nbsp;Steps per second:
    <span id="speedReadout">0</span> &nbsp;&nbsp;<input
      id="rafCheck"
      type="checkbox"
      checked
      onchange="resetTimer()"
    />Faster?
  </div>
  <div style="margin-top: 4px">
    <!--<input id="pixelCheck" type="checkbox" checked onchange="resetTimer()">Use pixel graphics-->
    Show:
    <input id="tracerCheck" type="checkbox" onchange="initTracers()" />Tracers
    <input
      id="flowlineCheck"
      type="checkbox"
      onchange="paintCanvas()"
    />Flowlines
    <input id="forceCheck" type="checkbox" onchange="paintCanvas()" />Force on
    barriers
    <input id="sensorCheck" type="checkbox" onchange="paintCanvas()" />Sensor
    <input id="dataCheck" type="checkbox" onchange="showData()" />Data
  </div>
  <div id="dataSection" style="display: none">
    <textarea id="dataArea" rows="8" cols="50" disabled readonly></textarea>
    <div>
      <input
        id="dataButton"
        type="button"
        value="Start data collection"
        onclick="startOrStopData()"
      />
      <input
        id="periodButton"
        type="button"
        value="Show F_y period"
        onclick="showPeriod()"
      />
      <input
        id="barrierDataButton"
        type="button"
        value="Show barrier locations"
        onclick="showBarrierLocations()"
      />
      <input
        id="debugButton"
        type="button"
        value="Debug"
        onclick="debug()"
        style="display: none"
      />
    </div>
  </div>
</body>

<style>
  * {
    padding: 0;
    margin: 0;
  }
  video {
    /* display: none; */
  }
  canvas,
  video {
    /* background: red; */
    width: 100%;
    aspect-ratio: calc(16 / 9);
    background-color: pink;
  }
</style>

<script>
  import "./video";
  import "./ml";
  import "./physics";
</script>
