---
---

<head>
  <!-- <script src="./ml.js" type="module"></script> -->
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Comfortaa"
  /></head
>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@tensorflow-models/deeplab@0.2.2/dist/deeplab.min.js"
></script>

<!-- import "../../scripts/aero/video";
  import "../../scripts/aero/ml";
  import "../../scripts/aero/physics";
  import "../../scripts/aero/charts"; -->

<!-- <script src="../../scripts/aero/video"></script>
<script src="../../scripts/aero/ml"></script>
<script src="../../scripts/aero/physics"></script>
<script src="../../scripts/aero/charts"></script> -->

<body>
  <div id="cover">
    <div class="modules" id="inputs">
      <div class="module hbox center" id="speed">
        <p class="moduleValue val">25</p>
        <div class="vbox">
          <input type="range" min="1" max="40" value="25" step="1" />
          <div class="hbox center">
            <div class="vbox">
              <select class="moduleValue unit">
                <option value="mph">mph</option>
                <option value="kmph">km/h</option>
              </select>
            </div>
            <div class="vbox" id="direction">
              <select class="moduleValue unit">
                <option value="right">Right</option>
                <option value="left">Left</option>
              </select>
            </div>
          </div>
        </div>

        <button id="calibrate" class="disabled">Calibrate</button>
        <button id="pausePlay">Start</button>
      </div>
      <!-- <div class="module"></div>
      <div class="module">
      </div> -->
    </div>
    <div id="frameView">
      <div id="sixteenByNine">
        <video autoplay playsinline webkit-playsinline muted id="videoelement"
        ></video>
        <canvas id="barrierCanvas"></canvas>
        <canvas id="physicsCanvas"></canvas>
      </div>
    </div>
    <div class="modules" id="outputs">
      <div class="module" id="powerSaving">
        <p class="moduleValue">
          <span class="val">-</span><span class="unit">W</span>
        </p>
        <p class="moduleName">Power Saved</p>
      </div>
      <div class="module" id="forceSaving">
        <p class="moduleValue">
          <span class="val">-</span><span class="unit">N</span>
        </p>
        <p class="moduleName">Force Saved</p>
      </div>
    </div>
  </div>
  <canvas id="powerChart"></canvas>
</body>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
  }
  body {
    background-color: #353535;
  }
  .modules {
    position: absolute;
    display: inline-flex;
    flex-direction: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    color: white;
    z-index: 2;
    padding: 0.2em 0.5em;
    border-radius: 0.4em;
    box-shadow: 0 0 4em 0 rgba(255, 255, 255, 0.2);
  }
  .modules p {
    padding-top: 0.15em;
  }
  #inputs {
    top: 0.5em;
  }
  #outputs {
    bottom: 0.5em;
  }
  .module {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 0.2em 0.4em;
    justify-content: space-between;
    /* height: 4em; */
  }
  .center {
    justify-content: center;
    align-items: center;
  }
  .vbox,
  .module {
    display: flex;
    flex-direction: column;
  }
  .vbox,
  .hbox,
  .module {
    gap: 0.2rem;
  }
  .hbox {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
  .moduleName {
    font-size: 0.8em;
    padding: 0 0rem;
  }
  /* .moduleValue {
    text-wrap: nowrap;
  } */
  .val {
    font-size: 2.4em;
    padding-right: 0.1em;
  }

  .unit {
    font-size: 0.8em;
  }

  select,
  button {
    background-color: rgba(0, 0, 0, 0.3);
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    border: none;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
    color: white;
    padding: 0.35em 0.3em 0.2em 0.3em;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  #speed input {
    width: 100%;
  }

  #speed .val {
    padding-right: 0;
  }

  #speed .moduleName {
    text-align: right;
    /* padding-left: 0.6rem; */
  }

  #direction .moduleName {
    text-align: left;
  }

  .module button {
    /* width: 100%; */
    height: 100%;
    max-height: 2.5em;
    font-size: 0.9em;
    padding-left: 1em;
    padding-right: 1em;
  }

  #cover {
    position: relative;
    width: 100%;
    max-height: 100vh;
    max-height: 100svh;
    overflow: hidden;
  }
  #cover {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #frameView {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
  }
  .flowLeft #frameView {
    transform: scaleX(-1);
  }
  #sixteenByNine {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    /* aspect-ratio: calc(16 / 9); */
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  #sixteenByNine > * {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  body:not(.flowLeft) video {
    /* display: none; */
    transform: translateY(-50%) scaleX(-1) !important;
  }
  #sixteenByNine canvas {
    /* background: red; */
    width: 100%;
    aspect-ratio: calc(16 / 9);
    /* background-color: pink; */
  }

  #powerChart {
    width: 100%;
    /* height: 200px; */
    margin: 12px;
  }
</style>

<script>
  import "../../scripts/aero/video";
  import "../../scripts/aero/ml";
  import "../../scripts/aero/physics";
  import "../../scripts/aero/charts";
</script>
