* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  height: calc(100vmin - 40px);
  width: calc(100vmin - 40px);
  border: 2px solid #bbb;
}
