---
const { style } = Astro.props;
import Icon from "./Icon.astro";
---

<div class="navHoverZone" style={style}>
  <!-- <Icon icon="/public/misc/invertedCurve.svg" class="curveIcon" /> -->
</div>

<!-- <style>
  .curveIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--navPadding);
    height: calc(var(--navPadding) / 5 * 6);
  }
</style> -->

<style is:global>
  .navHoverZone {
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    margin-left: calc(var(--navPadding));
    border-top-left-radius: var(--borderRounding);
    border-bottom-left-radius: var(--borderRounding);
    backdrop-filter: invert(100%) grayscale(100%) brightness(2.4);
    left: 0;
  }
  .active .navHoverZone {
    margin-left: calc(var(--navPadding) * -1);
    height: 100%;
  }
  .isHome .navHoverZone {
    backdrop-filter: none;
    border-radius: var(--borderRounding) !important;
    background-color: rgba(255, 255, 255, 0.14);
    width: calc(100% - var(--navPadding) * 2);
  }
  .hoverZoneTransition {
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  @media screen and (max-width: 800px) {
    .navHoverZone {
      border-radius: var(--borderRounding) !important;
      margin-left: 0 !important;
    }
    .active .navHoverZone {
      margin-left: calc(var(--navPadding) * -2) !important;
    }
  }
</style>
