.gearContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
}

.product {
  padding: 30px 60px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.07);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: black;
  transition: transform 0.2s ease;
  flex: 1;
  max-width: calc(100vw - 40px);
}

.product:hover {
  transform: scale(1.03);
}

.product h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 36px;
  white-space: nowrap;
}

.imgWrapper * {
  width: auto !important;
  max-width: none !important;
  max-height: none !important;
  min-width: none !important;
  min-height: none !important;
  height: 200px !important;
}

.imgWrapper img {
  position: relative !important;
}

.product img {
  height: 200px;
}

@media screen and (max-width: 450px) {
  /* .content.gear {
    padding: 0 20px 40px 20px !important;
  } */
  .product {
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    margin: 12px;
    padding: 30px 40px;
  }
  .product h2 {
    font-size: calc(14px + 3vw);
  }
  .imgWrapper * {
    width: 100% !important;
    height: auto !important;
  }
}
