#content h1 {
  font-size: 30px;
  margin: 20px 0;
  padding: 0;
}

body {
  background-color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 70px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#content h3 {
  margin: 0 20px;
  font-size: 18px;
  line-height: 36px;
  color: #888;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-align: center;
  font-weight: 400;
}

#content h3 a:hover {
  color: white;
}

#content h3:hover {
  color: black;
}

.project {
  position: relative;
  min-height: 100px;
  width: calc(100% - 80px);
  margin: 0 40px 40px 40px;
  background-color: white;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.project:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.textHolder,
.imgHolder {
  position: relative;
}

.textHolder {
  width: 35%;
}

.imgHolder {
  /*max-width: 60vmin;
    max-height: 40vmin;*/
  width: 40%;
  height: 25vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition: transform 0.3s ease;
  /*background-color: red;*/
}

.imgHolder:hover {
  transform: scale(1.03);
}

iframe {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 24px;
  text-align: center;
}

.desc {
  text-indent: 40px;
  margin-top: 30px;
  color: #888;
  font-weight: 400;
  font-size: 18px;
}

.git {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 30px;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  width: 114px;
  background-image: url("./techUsed/github.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 89% center;
  padding: 14px;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  border-radius: 8px;
}

.git:hover {
  -webkit-box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1);
}

.techIconHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.techIconHolder img {
  height: 30px;
  margin: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

img.wider {
  height: 24px;
  border-radius: 0;
  align-self: center;
}

img.widest {
  height: 18px;
  border-radius: 0;
  align-self: center;
}

.techIconHolder img:hover {
  transform: scale(1.4);
}

img.widest:hover {
  transform: scale(1.25);
}

.techIconName {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
  height: 10px;
}

#proximity .imgHolder {
  background-image: url("proximity.jpg");
}

#stockTrader .imgHolder {
  background-image: url("fund_chart.png");
}

#headlines .imgHolder {
  background-image: url("headlines.jpg");
}

#bounce .imgHolder {
  background-image: url("bounce.jpg");
}

#planets .imgHolder {
  background-image: url("planets.jpg");
}

#photography .imgHolder {
  background-image: url("photography.jpg");
}

#screener .imgHolder {
  background-image: url("screener.jpg");
}

#twitter .imgHolder {
  background-image: url("twitter.jpg");
}

#calculess .imgHolder {
  background-image: url("calculess.jpg");
}

#across .imgHolder {
  background-image: url("AcrossTheAisle.jpg");
}

#poetryBot .imgHolder {
  background-image: url("TwitterPoetryBot.png");
  border: 1px solid #ddd;
}

#stockAnalysis .imgHolder {
  background-image: url("stockAnalysis.png");
  /* border: 1px solid #ddd; */
}

#spotify .imgHolder {
  background-image: url("spotify.png");
}

@media screen and (max-width: 900px) {
  .textHolder,
  .imgHolder {
    width: calc(100% - 80px);
  }
  .imgHolder {
    margin-top: 40px;
    height: 42vmin;
  }
}

@media screen and (max-width: 500px) {
  .textHolder,
  .imgHolder {
    width: calc(100% - 14vmin);
  }
  .title {
    font-size: 6vmin;
  }
  .desc {
    font-size: 4.5vmin;
    margin-top: 5vmin;
  }
  .git {
    margin-top: 8vmin;
    margin-bottom: 0vmin;
    font-size: 5vmin;
    line-height: 6vmin;
    width: 36vmin;
    background-size: 30%;
    padding: 5vmin;
  }
  .project {
    width: 86vmin;
    margin: 0 7vmin 7vmin 7vmin;
    padding: 7vmin 0;
  }
  #content h1 {
    width: 70vmin;
    margin: 12vmin auto;
    font-size: 8vmin;
    line-height: 12vmin;
  }
  .nav {
    margin-bottom: 16vmin;
  }
  #content h3 {
    margin: 0;
    width: 100%;
    font-size: 6vmin;
    line-height: 13vmin;
  }
  .techIconHolder img {
    height: 10vmin;
    margin: 2.5vmin;
  }
  img.widest {
    height: 6vmin;
  }
  .techIconName {
    font-size: 4vmin;
    margin-top: 1vmin;
    margin-bottom: -2vmin;
  }
  .imgHolder {
    height: 50vmin;
    margin-top: 30px;
  }
}
