---
// const html = await Astro.slots.render("default");
const { process } = Astro.props;
// console.log("process", process);
// const processed = process(html);
---

<div></div>
<!-- <Fragment set:html={processed} /> -->
