---
import { Img } from "astro-imagetools/components";
let { src, alt, maxWidth, imgProps } = Astro.props;

// if (import.meta.env.DEV && src.startsWith("/public/")) {
// src = src.replace("/public/", "/");
// }
---

<div class="inlineImg">
  {
    src.endsWith(".gif") ? (
      <img
        src={src.replace("/public/", "/")}
        alt={alt}
        style={{
          width: "100%",
          maxWidth: maxWidth ? maxWidth + "px" : "none",
        }}
      />
    ) : (
      <Img
        src={src}
        alt={alt || ""}
        loading="lazy"
        placeholder="blurred"
        format="webp"
        breakpoints={[400, 600, 800, 1200, 1600]}
        quality={Astro.props.quality || 60}
      />
    )
  }

  {alt && <figcaption>{alt}</figcaption>}
</div>

<style>
  div {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  figcaption {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin-top: 0.5em;
    opacity: 0.5;
  }
  .inlineImg :global(img) {
    border-radius: 10px;
  }
</style>
