---
import { Img } from "astro-imagetools/components";
const { src, alt } = Astro.props;
---

<div class="inlineImg">
  <Img
    src={src}
    alt={alt || ""}
    loading="lazy"
    placeholder="blurred"
    format="webp"
    breakpoints={[400, 600, 800, 1200, 1600]}
    quality={30}
  />
  {alt && <figcaption>{alt}</figcaption>}
</div>

<style>
  div {
    padding: 1em 0;
  }
  figcaption {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin-top: 0.5em;
    opacity: 0.5;
  }
  .inlineImg :global(img) {
    border-radius: 10px;
  }
</style>
