* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Code Pro', monosace;
}


body, html {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden !important;
}

#bg {
    position: absolute;
    display: inline;
    height: 100%;
    width: 100%;
    top: 0;
    /* background-image: url('https://ak2.picdn.net/shutterstock/videos/18774452/thumb/1.jpg');
    background-size: 15vmax;
    background-position: center; */
    opacity: 0.3;
    color: white;
    font-size: 1vmax;
    line-height: 2.2vmax;
}

z {
    display: inline;
}

z:nth-child(10n) {
    opacity: 0.1;
}
z:nth-child(10n + 1) {
    opacity: 0.7;
}
z:nth-child(10n + 2) {
    opacity: 0.3;
}
z:nth-child(10n + 3) {
    opacity: 0.6;
}
z:nth-child(10n + 4) {
    opacity: 0.2;
}
z:nth-child(10n + 5) {
    opacity: 1;
}
z:nth-child(10n + 6) {
    opacity: 0.8;
}
z:nth-child(10n + 7) {
    opacity: 0.4;
}
z:nth-child(10n + 8) {
    opacity: 0.9;
}
z:nth-child(10n + 9) {
    opacity:0.5;
}

h1,h2,a {
    font-weight: 900;
    color: #ffc700;
}

h1 {
    position: absolute;
    transform: none;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
  font-size: 1.8vw;
  animation: zoomOut 7s ease-out;
  opacity: 0;
}

h1 pre {
    margin-bottom: 0.5vmin;
}

#plane {
    margin-top: -14vmin;
    animation: move 16s ease-out;
    transform: perspective(40vmin) rotateX(24deg) translateY(0);
}

h2 {
  font-size: 1.2vmin;
}

h2 pre {
    margin-top: 3vmin;
}

a {
    font-size: 0.76vmin;
    margin-top: 10vmin;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

a:hover {
    opacity: 0.5;
}

a pre {
    margin-top: 1vmin;
}

script {
    display: none;
}

@keyframes zoomOut {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 0;
    }
}

@keyframes move {
    0% {
        transform: perspective(40vmin) rotateX(24deg) translateY(200%);
    }
    100% {
        transform: perspective(40vmin) rotateX(24deg) translateY(0);
    }
}
