@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  cursor: default;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    overflow-x: hidden;
}


#bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("DSC_0212.jpg");
    background-size: auto 110vh;
    background-position: 50% bottom;
    background-color: #60AAC9;
}

#holder {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,0.7);
    padding: 4vmin;
    border-radius: 10px;
    -webkit-animation: fadein 2s;
            animation: fadein 2s;
}

h1 {
    font-size: 8vmin;
    margin-bottom: 1vmin;
}

.tab {
    display: block;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 4vmin;
    margin-top: 0.5vmin;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
}

.tab:visited { text-decoration: none; color:black; }

.tab:hover {
    background-color: rgba(255,255,255,0.2);
}


p {
    text-align: center;
    font-size: 2vmin;
    font-weight: 200;
}

#iconHolder {
    position: absolute;
    width: 300px;
    max-width: 100vw;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    margin-right: -10px;
    padding: 20px;
}

.icon {
    position: relative;
    background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.insta {
    background-image: url('https://image.flaticon.com/icons/png/128/87/87390.png');
}

.snap {
    background-image: url('http://3.bp.blogspot.com/-ascbdaJd_-g/Vst3CVRwHAI/AAAAAAAAHP0/2QkIsZECrwI/s300/1456195657_24-snapchat.png');
}

.github {
    background-image: url('https://cdn.iconscout.com/public/images/icon/free/png-128/github-logo-brand-development-tools-318f14f5797bb6cc-128x128.png');
}

#mailImg {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn4.iconfinder.com/data/icons/social-icons-6/40/mail-512.png');
    background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
    -webkit-filter:brightness(0%);
            filter:brightness(0%)
}

#coded {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 12px;
    font-weight: 300;
}

.icon:hover {
          -webkit-animation: boom 0.5s ease;
                  animation: boom 0.5s ease;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}


@-webkit-keyframes boom {
  0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
  }
  50% {
            -webkit-transform: scale(1.2);
                    transform: scale(1.2);
  }
  75% {
            -webkit-transform: scale(0.8);
                    transform: scale(0.8);
  }
  100% {
            -webkit-transform: scale(1);
                    transform: scale(1);
  }
}


@keyframes boom {
  0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
  }
  50% {
            -webkit-transform: scale(1.2);
                    transform: scale(1.2);
  }
  75% {
            -webkit-transform: scale(0.8);
                    transform: scale(0.8);
  }
  100% {
            -webkit-transform: scale(1);
                    transform: scale(1);
  }
}





@media screen and (min-aspect-ratio: 16/11) {
    #bg {
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 600px) {
    #holder {
        padding: 6vmin;
    }
    h1 {
        font-size: 11vmin;
        margin-bottom: 2vmin;
    }
    .tab {
        font-size: 7vmin;
    }
    p {
        font-size: 4vmin;
    }
}
