@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  cursor: default;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

#cover {
  position: fixed; 
  background-color: rgba(255,255,255,0.97);
  height: 100vh;
  width: 100vw;
  z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    pointer-events: none;
}

#exit {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 6px;
    left: 6px;
    cursor: pointer;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Noun_project_-_supprimer_round.svg/768px-Noun_project_-_supprimer_round.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: invert(20%);
            filter: invert(20%);
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0.2;
}

#exit:hover {
    opacity: 1;
}

#largeImage {
    position: absolute;
    height: calc(100vh - 24px);
    width: calc(100vw - 24px);
    left: 12px;
    top: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hoverLayer {
    position: absolute;
    height: 100vh;
    width: 50vw;
    cursor: w-resize;
}

.rightHalf {
    right: 0;
    cursor: e-resize;
}

#header {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: rgba(255,255,255,0.95);
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  z-index: 10;
}

#menuIcon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  right: 30px;
  cursor: pointer;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
  transition: -webkit-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.line {
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: black;
  cursor: pointer;
}

#one {
    top: 6%;
}

#two {
  top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#three {
  bottom: 6%;
}

h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  font-size: 25px;
    border: 2px dashed black;
    padding: 10px 15px;
}


a {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.insta {
  background-image: url('https://image.flaticon.com/icons/png/128/87/87390.png');
}

ul {
  position: fixed;
    right: 0;
  top: 80px;
  width: 200px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 10;
    pointer-events: none;
    -webkit-box-shadow: -3px 3px 8px rgba(0,0,0,0.1);
            box-shadow: -3px 3px 8px rgba(0,0,0,0.1);
}

li {
  line-height: 50px;
  text-align: center;
  background-color: rgba(255,255,255,0.95);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid rgba(0,0,0,0.1);
  border-left: none;
  border-right: none;
  font-weight: 400;
    cursor: pointer;
}

li:first-child {
  border-top-width: 1px;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  color: #BBB;
}

#body {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
    -webkit-animation: fadein 3s;
            animation: fadein 3s;
    padding: 120px 40px 0px 40px;
}

.image {
    /*padding-top: 12px;
  display: block;
  width: 100%;*/
  cursor: pointer;
    float: left;
    width: calc((100vw - 200px) / 2);
    margin-bottom: 40px;
}

#about {
    position: relative;
    width: 100vw;
    max-width: 1300px;
    overflow: hidden;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

#aboutText, #gearText  {
    border: none;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 60px;
    line-height: 250px;
    -webkit-transform: none;
            transform: none;
    top: 0;
    font-weight: 300;
}

#portrait {
    position: relative;
    height: calc(200px + 9vw + 9vh);
    max-height: 90vh;
    min-height: 40vmax;
    width: 30%;
    left: 20px;
    background-image: url("http://www.blakesanie.com/photo/DSC_0154.jpg");
    background-size: cover;
    background-position: center;
    float: left;
}

#desc {
    position: relative;
    width: calc(70% - 20px);
    left: calc(35% - 10px);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px;
    padding-top: 20px;
    float: right;
    font-size: calc(8px + 0.8vw + 0.8vmax + 0.5vmin);
    font-weight: 300;
    text-indent: 30px;
}

#smallIcons {
    position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    height: 34px;
    width: calc(70% - 20px);
    left: calc(35% - 10px);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20vmin;
    float: right;
}

#smallIcons a {
    height: 100%;
}

#gear {
    position: relative;
    width: 100vw;
}

.gearSet {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.gearNameHolder {
    position: relative;
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 275px;
}

.gearName {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10vmin;
    text-align: right;
    font-size: 7vmin;
    font-weight: 300;
}

.gearName span {
    font-size: 50%;
    font-weight: 200;
}

.gearPhoto {
    position: relative;
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 5vmin 0 5vmin 0;
}

.gearImage {
    width: calc(100% - 20vmin);
    margin-left: 10vmin;
    max-width: 400px;
    cursor: pointer;
}

#kitLens .gearImage {
    width: calc(90% - 80px);
    max-width: 300px;
}


#footer {
  position: relative;
  width: 100vw;
  height: 400px;
  background-color: black;
  z-index: 9;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#iconHolder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90vw;
  max-width: 800px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bottomCenter {
  position: relative;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.snap {
  background-image: url('http://3.bp.blogspot.com/-ascbdaJd_-g/Vst3CVRwHAI/AAAAAAAAHP0/2QkIsZECrwI/s300/1456195657_24-snapchat.png');
}

.mail {
  background-image: url('https://cdn4.iconfinder.com/data/icons/social-icons-6/40/mail-512.png');
  -webkit-filter: brightness(0%);
          filter: brightness(0%)
}

h6 {
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 25%;
    left: 50%;
  color: white;
  font-size: 35px;
  font-weight: 200;
}

h6:nth-child(2) {
  top: 75%;
}

#coded {
    position: relative;
    background-color: #222;
    -webkit-transform: none;
            transform: none;
    left: 0;
    line-height: 140px;
    font-size: 26px;
}


@media screen and (max-width: 550px) {
    #quote h6 {
        font-size: 35px;
    }
    #portrait {
        width: 400px;
        max-width: calc(100vw - 40px);
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        height: 300px;
    }
    #desc {
        width: 100vw;
        left: 0;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        padding-top: 40px;
        font-size: calc(13px + 3.2vw);
    }
    #smallIcons {
        left: 0;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        width: 100vw;
    }
    .gearImage {
        margin-left: 50vw;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .gearName {
        right: 0;
        width: 100vw;
        font-size: 12vmin;
        text-align: center;
    }
    #kitLens .gearImage {
        width: calc(90% - 80px);
        max-width: none;
    }
    .gearSet {
        margin-bottom: 10vmin;
    }
    .gearName {
        margin-bottom: 5vmin;
    }
}

@media screen and (max-width: 415px) {
    #body {
        /*padding: 92px 12px 60px 12px;*/
    }
    .image {
        width: calc(100vw - 80px);
        margin-bottom: 40px;
    }
  ul {
    width: 100vw;
  }
  li {
    line-height: 60px;
  }
  #menuIcon {
    height: 9vw;
    width: 9vw;
    right: 20px;
  }
    h1:nth-of-type(1) {
        left: 12px;
        font-size: 6vw;
    }
}

a:hover {
  -webkit-animation: boom 0.5s ease;
          animation: boom 0.5s ease;
}

.mail:hover {
  -webkit-animation: boom 0.5s ease;
          animation: boom 0.5s ease;
}

@-webkit-keyframes boom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes boom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@media screen and (max-width: 850px) and (min-width: 415px) {
    #body {
       /* -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;*/
    }
    .image {
        width: calc((100vw - 120px) / 2);
    }
}
@media screen and (max-width: 1500px) and (min-width: 850px) {
    #body {
        /*-webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;*/
    }
    .image {
        width: calc((100vw - 160px) / 3);
    }
    #quote h6 {
        width: 100%;
        font-size: 48px;
    }
    #quote span {
        font-size: 25px;
    }
}
@media screen and (min-width: 1600px) {
    .image {
        width: calc((100vw - 200px) / 4);
    }
    #desc {
        font-size: 32px;
    }
    #portrait {
        min-height: 0;
        height: 400px;
    }
}

@media screen and (min-width: 1100px) {
    #portrait {
        min-height: calc(200px + 16vw);
    }
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}