.masonry .imgContainer {
  /* transition: opacity 0.2s ease; */
  border-radius: 0px;
  cursor: pointer;
  height: auto !important;
  margin-bottom: 5.5px !important;
}

.masonry .imgContainer * {
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

.imgContainer > div {
  position: relative !important;
  width: 100% !important;
}

.masonry img {
  position: relative !important;
}

.masonry {
  width: 100%;
}

.fullScreen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999999999;
  backdrop-filter: blur(12px);
  transition: opacity 0.2s ease;
}

.fullScreen .exit {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 4px 10px;
  border-bottom-right-radius: 8px;
  background-color: #ffffff80;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px 0px #00000020;
}

.fullScreen .half {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 400px;
  height: 100%;
  cursor: w-resize;
  display: flex;
  align-items: center;
}

.fullScreen .half:hover .scrubButton {
  background-color: #ffffffa0;
  box-shadow: 0 0 40px 0px #00000020;
}

.fullScreen .half:hover .scrubButton img {
  opacity: 1;
}

.scrubButton {
  padding: 10px;
  padding-bottom: 6px;
  padding-left: 8px;
  border-radius: 8px;
  margin: 60px 30px;
  backdrop-filter: blur(10px);
  background-color: #ffffff20;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.scrubButton img {
  opacity: 0.3;
  transition: opacity 0.2s ease;
}

.fullScreen .half:last-of-type {
  left: auto;
  right: 0;
  cursor: e-resize;
  transform: scaleX(-1);
}

.fullScreenImage {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .photo {
    padding: 0 10px !important;
  }
  .fullScreen .half {
    align-items: flex-end;
  }
}

/* @media screen and (max-width: 340px) {
  .content {
    padding: 0 20px !important;
  }
} */
