.masonry .imgContainer {
  /* transition: opacity 0.2s ease; */
  border-radius: 0px;
  cursor: pointer;
  height: auto !important;
  margin-bottom: 5.5px !important;
}

.masonry .imgContainer * {
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

.imgContainer > div {
  position: relative !important;
  width: 100% !important;
}

.masonry img {
  position: relative !important;
}

.masonry {
  width: 100%;
}

.fullScreen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: calc(100vh-env(safe-area-inset-bottom));
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999999999;
  backdrop-filter: blur(12px);
  transition: opacity 0.2s ease;
}

.fullScreen .exit {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 4px 10px;
  border-bottom-right-radius: 8px;
  background-color: #ffffff80;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px 0px #00000020;
}

.fullScreen .half {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 400px;
  height: calc(100% - env(safe-area-inset-bottom));
  cursor: w-resize;
  display: flex;
  align-items: center;
}

.fullScreen .half:hover .scrubButton {
  background-color: #ffffffa0;
  box-shadow: 0 0 40px 0px #00000020;
}

.fullScreen .half:hover .scrubButton img {
  opacity: 1;
}

.scrubButton {
  padding: 10px;
  padding-bottom: 6px;
  padding-left: 8px;
  border-radius: 8px;
  margin: 60px 30px;
  backdrop-filter: blur(10px);
  background-color: #ffffff20;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.scrubButton img {
  opacity: 0.3;
  transition: opacity 0.2s ease;
}

.rightHalf {
  left: auto !important;
  right: 0;
  cursor: e-resize !important;
  transform: scaleX(-1);
}

.fullScreenImage {
  width: 100%;
  height: calc(100% - env(safe-area-inset-bottom));
}

.loader {
  width: 70px;
  height: 70px;
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border: 10px solid #cccccc80;
  border-radius: 50%;
  border-right-color: white;
  animation: rotate 1s linear infinite;
  transition: opacity 0.2s ease;
}

.metadata {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollForLocation {
  font-size: 13px;
  margin-top: -25px;
  backdrop-filter: blur(10px);
  padding: 4px 10px;
  background-color: #ffffff50;
  border-radius: 6px;
  margin-bottom: calc(10px + env(safe-area-inset-bottom));
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  animation: vibrate 2.4s infinite ease-in-out;
  cursor: pointer;
  transition: opacity 0.2s ease;
  /* animation: pulse 3s infinite ease-in-out; */
}

.scrollForLocation:hover {
  animation-play-state: paused;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.2s;
  border-radius: 100px;
}

/* input:checked + .slider {
  background-color: #00000040;
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  transform: translateX(14px);
}

.modeControl {
  display: flex;
  gap: 10px;
  margin-top: -30px;
  margin-bottom: 40px;
  align-items: center;
}

.modeControl p {
  font-size: 16px;
  transition: opacity 0.2s ease;
}

.masonryHidden {
  max-height: 0;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vibrate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  0% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px) {
  .photo {
    padding: 0 10px !important;
  }
  .fullScreen .half {
    align-items: flex-end;
  }
}

/* @media screen and (max-width: 340px) {
  .content {
    padding: 0 20px !important;
  }
} */
