#img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-image: url('me.jpg');
    background-size: cover;
    background-position: center;
}

#content p {
    padding: 50px;
    font-size: 20px;
    text-indent: 50px;
    font-weight: 400;
}
