---
import HeaderAndFooter from "../components/HeaderAndFooter/index.astro";
---

<HeaderAndFooter color="rgba(0,0,0,0.8)">
  <style>
    html {
      background-color: black;
    }
    :global(.navChip) {
      background: rgb(0, 126, 204, 0.8);
    }
  </style>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
  <p>sdasd</p>
</HeaderAndFooter>
