---
import HeaderAndFooter from "../components/HeaderAndFooter/index.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <HeaderAndFooter>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
      <p>sdasd</p>
    </HeaderAndFooter>
  </body>
</html>
