iframe {
  position: absolute;
  width: calc(100vw - 240px);
  height: 100vh;
  padding: 0;
  border: none;
}

@media screen and (max-width: 800px) {
  iframe {
    height: calc(100vh - 100px);
    width: 100vw;
  }
}
