#content {
  padding: 0 40px 100px 40px;
}

#content h2 {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

#thumbs {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#content a {
  display: block;
  position: relative;
  margin: 20px 0;
  padding: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 800px;
}

#content a:hover {
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.1);
}
