.header a {
  text-decoration: none !important;
}

.header {
  position: fixed;
  padding: 30px 0;
  padding-bottom: 30px;
  background-color: rgba(0, 126, 204, 0.8);
  color: white;
  overflow-y: scroll;
  width: 220px;
  height: 100vh;
  min-height: 100vh;
  z-index: 99999;
}
.header.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.header h1 {
  color: white;
  padding: 5px 18px;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  font-size: 28px;
  max-width: 180px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  /* background-color: blue !important; */
}

.header h2 {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.header h2 span {
  padding: 0 3px;
  display: block;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.transitionable {
  transition: none;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.navSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  padding: 10px 10px;
  height: auto;
  flex: 1;
  max-width: 170px;
}

.nav a {
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  font-size: 18px;
  font-weight: 400;
  padding: 2px 0;
}

.nav a:hover {
  opacity: 1;
}

.nav h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.page {
  left: 220px;
  right: 0;
  width: calc(100% - 220px);
  animation: fadeIn 1s ease;
}

.page h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  margin: 60px 0;
  font-weight: 400;
}

.hamburger {
  /* border: 1px solid red; */
  width: 52px;
  height: 48px;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  z-index: 9999999999;
}

.rotated {
  transform: rotate(90deg);
}

.hamburger .line {
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 100px;
}

.hamburger:hover {
  opacity: 1;
}

.madeBy {
  margin-top: 10px;
  padding: 0 30px;
  padding-bottom: 0px;
  font-size: 14px;
  text-align: center;
}

.madeBy p {
  opacity: 0.3;
}

.madeBy img {
  position: static;
  width: 19px;
  height: 19px;
}

.madeByIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.madeByIcons > * {
  margin: 4px;
  opacity: 0.3;
}

.madeByIcons a {
  transition: opacity 0.2s ease;
}

.madeByIcons a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px),
  (min-width: 800px) and (min-height: 1200px) {
  .header {
    padding: 0;
    padding: 10px 10px;
    width: 100%;
    height: 80px;
    overflow-y: hidden;
    /* height: auto; */
    backdrop-filter: blur(12px);
    min-height: 0;
  }
  .header h1 {
    font-size: 22px;
    margin-bottom: 7px;
    padding: 2px 0;
    width: 160px;
  }
  .header h2 {
    font-size: 12px;
    padding: 0;
    margin-bottom: 10px;
    line-height: 14px;
    margin-top: 7px;
  }
  .header h2 span {
    display: inline;
  }
  .nav h3 {
    font-size: 18px;
  }
  .nav a {
    font-size: 16px;
  }
  .hamburger {
    opacity: 0.5;
    pointer-events: all;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  .page {
    left: 0;
    width: 100%;
    padding-top: 80px;
  }
  .madeBy {
    margin-top: 4px;
    font-size: 12px;
    padding: 0;
  }
  .madeBy img {
    width: 16px;
    height: 16px;
  }
  .transitionable {
    transition: height 0.2s ease, transform 0.4s ease;
  }
}

/* @media screen and (min-width: 800px) and (min-height: 1200px) {
  header {
    padding-top: 20px;
    height: 260px;
  }
  #hamburger {
    display: none;
  }
  .page {
    padding-top: 260px;
  }
} */

/* @media screen and (min-width: 800px) and (min-height: 1200px) {
  header {
    padding: 0;
    padding: 10px 10px;
    width: 100%;
    height: 250px;
    overflow-y: hidden;
    backdrop-filter: blur(12px);
  }
  header h1 {
    font-size: 22px;
    margin-bottom: 7px;
    padding: 2px 0;
    width: 160px;
  }
  header h2 {
    font-size: 12px;
    padding: 0;
    margin-bottom: 10px;
    line-height: 14px;
    margin-top: 7px;
  }
  header h2 span {
    display: inline;
  }
  nav h3 {
    font-size: 18px;
  }
  nav a {
    font-size: 16px;
  }
  .page {
    left: 0;
    width: 100%;
    padding-top: 80px;
  }
  .madeBy {
    margin-top: 4px;
    font-size: 12px;
    padding: 0;
  }
  .madeBy img {
    width: 16px;
    height: 16px;
  }
} */

@media screen and (max-width: 470px) {
  .header h2 {
    display: none;
  }
  .header h1 {
    font-size: 24px;
    padding: 6px 0;
    margin-top: 6px;
  }
  .hamburger {
    height: 80px;
    width: 60px;
    padding: 32px 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-height: 850px) and (max-height: 1199px) and (min-width: 801px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
