.header a {
  text-decoration: none !important;
}

.header {
  position: fixed;
  padding: 30px 0;
  padding-bottom: 30px;
  color: white;
  overflow-y: scroll;
  width: 220px;
  height: 100vh;
  min-height: 100vh;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.header.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.header :global(#myName) {
  color: white;
  padding: 7px 18px;
  /* border: 2px dashed rgba(255, 255, 255, 0.2); */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='3' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-opacity='0.4' stroke-linecap='square'/%3e%3c/svg%3e");
  font-size: 28px;
  max-width: 180px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  /* background-color: blue !important; */
}

:global(.lightBackground).header :global(#myName) {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='3' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-opacity='0.4' stroke-linecap='square'/%3e%3c/svg%3e");
}

:global(.redBorder).header :global(#myName) {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='red' stroke-width='3' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-opacity='1' stroke-linecap='square'/%3e%3c/svg%3e");
}

.headerSubLine {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.headerSubLine span {
  padding: 0 3px;
  display: block;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.nav li {
  list-style-type: none;
  display: flex; /* this keeps spacing right, idk why */
}

.transitionable {
  transition: none;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.navSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  padding: 10px 10px;
  height: auto;
  flex: 1;
  min-width: 220px;
  /* width: 170px !important; */
}

.nav a {
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  font-size: 18px;
  font-weight: 400;
  padding: 2px 0;
}

.nav a:hover {
  opacity: 1;
}

.navSectionTitle  {
  font-size: 20px;
  margin-bottom: 10px;
}

.page {
  left: 220px;
  right: 0;
  width: calc(100% - 220px);
  /* animation: fadeIn 1s ease; */
}

.page h1 {
  text-align: center;
  font-size: 36px;
  margin: 60px 0;
  margin-bottom: 30px;
  font-weight: 400;
}

.page h2 {
  font-size: 20px;
  margin-bottom: 40px;
  text-indent: 30px;
  font-weight: 400;
  opacity: 0.6;
  max-width: 720px;
}

.hamburger {
  /* border: 1px solid red; */
  width: 52px;
  height: 48px;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  z-index: 9999999999;
}

.rotated {
  transform: rotate(90deg);
}

.hamburger .line {
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 100px;
}

.hamburger:hover {
  opacity: 1;
}

.madeBy {
  margin-top: 10px;
  padding: 0 30px;
  padding-bottom: 0px;
  font-size: 14px;
  text-align: center;
}

.madeBy p {
  opacity: 0.3;
}

.madeBy img {
  width: 19px;
  height: 19px;
  margin-bottom: -4px; /* not sure why this is needed, but keeps + centered */
}

.madeByIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.madeByIcons > * {
  margin: 4px;
  opacity: 0.3;
  box-sizing: content-box;
}

.madeByIcons a {
  transition: opacity 0.2s ease;
}

.madeByIcons a:hover {
  opacity: 0.6;
}

.nowPlaying {
  width: calc(100% - 20px);
  /* margin-top: 20px;
  margin-bottom: 10px; */
  margin: 20px 0;
  /* border: 4px solid rgba(255,255,255,0.0) */
  /* box-shadow: 0 0 10px 0 rgba(255,255,255,0.2); */
}

@media screen and (max-width: 800px),
  (min-width: 800px) and (min-height: 1200px) {
  .header {
    padding: 0;
    padding: 10px 10px;
    width: 100%;
    height: 80px;
    overflow-y: hidden;
    /* height: auto; */
    backdrop-filter: blur(12px);
    min-height: 0;
  }
  .header :global(#myName) {
    font-size: 22px;
    margin-bottom: 7px;
    padding: 4px 0;
    width: 160px;
  }
  .headerSubLine  {
    font-size: 12px;
    padding: 0;
    margin-bottom: 10px;
    line-height: 14px;
    margin-top: 0px;
  }
  .headerSubLine span {
    display: inline;
  }
  .navSection {
    min-width: 0;
    flex: initial;
  }
  .navSectionTitle  {
    font-size: 18px;
  }
  .nav a {
    font-size: 16px;
  }
  .hamburger {
    opacity: 0.5;
    pointer-events: all;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  .page {
    left: 0;
    width: 100%;
    padding-top: 80px;
  }
  .madeBy {
    margin-top: 4px;
    font-size: 12px;
    padding: 0;
  }
  .madeBy img {
    width: 16px;
    height: 16px;
  }
  .transitionable {
    transition: height 0.2s ease, transform 0.4s ease;
  }
  .nowPlaying {
    width: 300px;

  margin: 10px 0;
  }
}

/* @media screen and (min-width: 800px) and (min-height: 1200px) {
  header {
    padding-top: 20px;
    height: 260px;
  }
  #hamburger {
    display: none;
  }
  .page {
    padding-top: 260px;
  }
} */

/* @media screen and (min-width: 800px) and (min-height: 1200px) {
  header {
    padding: 0;
    padding: 10px 10px;
    width: 100%;
    height: 250px;
    overflow-y: hidden;
    backdrop-filter: blur(12px);
  }
  header h1 {
    font-size: 22px;
    margin-bottom: 7px;
    padding: 2px 0;
    width: 160px;
  }
  header h2 {
    font-size: 12px;
    padding: 0;
    margin-bottom: 10px;
    line-height: 14px;
    margin-top: 7px;
  }
  header h2 span {
    display: inline;
  }
  nav h3 {
    font-size: 18px;
  }
  nav a {
    font-size: 16px;
  }
  .page {
    left: 0;
    width: 100%;
    padding-top: 80px;
  }
  .madeBy {
    margin-top: 4px;
    font-size: 12px;
    padding: 0;
  }
  .madeBy img {
    width: 16px;
    height: 16px;
  }
} */

@media screen and (max-width: 470px) {
  .headerSubLine {
    display: none;
  }
  .header :global(#myName) {
    font-size: 24px;
    padding: 6px 0;
    margin-top: 8px;
  }
  .hamburger {
    height: 80px;
    width: 60px;
    padding: 32px 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-height: 1070px) and (max-height: 1199px) and (min-width: 801px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
