---
import { renderImg } from "astro-imagetools/api";

const url =
  "https://docs.google.com/document/d/1693XKzPmqA7GQmi4goBZuijooWzOoFiQTKFJtvKhuMc/edit?usp=sharing";

const { link, style, img } = await renderImg({
  src: "/src/assets/images/40e9.webp",
  breakpoints: [800],
  format: "webp",
  alt: "",
  quality: 50,
});

const thumbUrl = img.split('srcset="')[1].split('"')[0];
// console.log("thumbUrl", thumbUrl);
---

<html>
  <head>
    <title>Lease @ 40 E 9th | Chicago Loop</title>
    <meta property="og:image" content={thumbUrl} />
    <meta http-equiv="Refresh" content={`0; url='${url}'`} />
    <script
      define:vars={{
        url: url,
      }}
    >
      document.location.href = url;
    </script>
  </head>
  <body> </body>
</html>
