---
import CommonHead from "../../components/HeaderAndFooter/CommonHead.astro";

const imagePath = "/og/thumb.jpg";
---

<CommonHead title="Distortion" noindex>
  <h1>Lens Distortion Correction Tool</h1>

  <div class="tool-container">
    <div class="canvas-container">
      <canvas id="distortionCanvas"></canvas>
      <canvas id="gridCanvas"></canvas>
      <div id="opticalCenter"></div>
    </div>
    <div id="reverse-projection">
      <img id="sourceImage" src={imagePath} />
      <canvas id="reverseGridCanvas"></canvas>
    </div>

    <div class="controls">
      <!-- Radial distortion -->
      <label for="k1">k1:</label>
      <input type="range" id="k1" min="-1" max="1" step="0.001" value="0" />
      <span id="k1Val">0.000</span>
    </div>

    <div class="controls">
      <label for="k2">k2:</label>
      <input type="range" id="k2" min="-1" max="1" step="0.001" value="0" />
      <span id="k2Val">0.000</span>
    </div>

    <div class="controls">
      <label for="k3">k3:</label>
      <input type="range" id="k3" min="-1" max="1" step="0.001" value="0" />
      <span id="k3Val">0.000</span>
    </div>

    <!-- Tangential distortion -->
    <div class="controls">
      <label for="p1">p1:</label>
      <input type="range" id="p1" min="-0.5" max="0.5" step="0.001" value="0" />
      <span id="p1Val">0.000</span>
    </div>

    <div class="controls">
      <label for="p2">p2:</label>
      <input type="range" id="p2" min="-0.5" max="0.5" step="0.001" value="0" />
      <span id="p2Val">0.000</span>
    </div>

    <div class="controls">
      <label>
        <input type="checkbox" id="toggleGrid" checked />
        Show Grid
      </label>
    </div>
  </div>
</CommonHead>

<style>
  .tool-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
  }
  canvas {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .canvas-container {
    position: relative;
    display: inline-block; /* shrink to canvas size */
  }

  #distortionCanvas,
  #gridCanvas {
    display: block;
  }

  #gridCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none; /* allow clicks to pass through */
  }

  #opticalCenter {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .controls label {
    width: 2.5rem;
  }
  .controls input {
    flex: 1;
  }
  #reverse-projection {
    position: relative;
    display: inline-block;
  }

  #reverse-projection img {
    display: block;
    max-width: 100%;
  }

  #reverseGridCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
</style>

<script src="./_script.ts"></script>
