.frame {
  /* height: 100vh; */
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

.imageWrapper {
  min-height: calc(0.3 * (100vw - 220px));
}

.imageWrapper > div {
  height: 100%;
  width: 100%;
}

.coverImage {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
}

/* .frame img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.frame h2 {
  font-size: 40px !important;
  opacity: 1 !important;
}

.centerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.frame a {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  font-size: 22px;
  color: white;
  border-radius: 8px;
  border: 2px dashed rgba(255, 255, 255, 0.9);
  transition: background-color 0.2s ease;
  margin: 24px 20px 0 20px;
}

.frame a:hover {
  background-color: rgba(0, 20, 80, 0.7);
}

.particles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wwdcContainer {
  zindex: 5;
}

.wwdcImage {
  position: static !important;
  width: 140px !important;
  height: auto !important;
  margin-bottom: 20px;
  z-index: 10;
  margin-top: calc(-20px + 6vh);
}

.gradient {
  top: calc(-20px + 6vh);
}

.typed {
  font-size: 50px !important;
  max-height: 60px !important;
  margin: 0 !important;
}

@media screen and (max-width: 800px) {
  /* .frame:first-child {
      height: calc(100vh - 80px);
    } */
  .wwdcImage {
    /* margin-top: calc(-80px + 9vh); */
    width: 120px !important;
  }
  .typed {
    font-size: calc(24px + 3vmin) !important;
  }
  .frame:first-child {
    margin-top: -40px;
  }
  .frame h2 {
    font-size: calc(24px + 3vmin) !important;
  }
  .imageWrapper {
    min-height: calc(0.3s * (100vw));
  }
}

@media screen and (max-height: 480px) {
  .wwdcImage,
  .gradient {
    display: none;
  }
}
