@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  position: relative;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: #179856;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #cover {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  background-color: white;
} */

h1 {
  color: #179856;
  text-align: center;
  font-size: 7vmin;
  z-index: 10;
  line-height: 50vmin;
}

#grad {
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 120vw;
  top: 0;
  background: linear-gradient(white, #179856);
}

#cover {
  width: 80vw;
  max-width: 500px;
  top: 30%;
}

h2 {
  padding: 50px;
  text-align: center;
  font-size: 30px;
  margin: 100px 0;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

h3 {
  font-size: 28px;
  display: inline;
  margin: 0 50px;
  text-align: center;
}

.section img {
  width: 40vw;
  max-width: 300px;
}

.reverse {
  flex-direction: row-reverse;
}

h4 {
  font-size: 30px;
  margin-top: 150px;
}

h5 {
  background-color: white;
  padding: 50px 70px;
  color: black;
  border-radius: 20px;
  margin: 100px 0;
  font-size: 50px;
  box-shadow: 0 10px 40px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 8vmin;
  }
  h2 {
    font-size: 7vmin;
    margin: 10vmin 0;
  }
  .section {
    flex-wrap: wrap;
    padding: 0 20px;
  }
  h3 {
    font-size: 6vmin;
  }
  .section img {
    margin: 10vmin 0;
  }
  h4 {
    font-size: 6vmin;
    padding: 0 40px;
    text-align: center;
    margin-top: 10vmin;
  }
  h5 {
    padding: 8vmin 10vmin;
    border-radius: 3vmin;
    margin: 15vmin 0;
    font-size: 8vmin;
    box-shadow: 0 10px 40px 0px rgba(0, 0, 0, 0.3);
  }
}
