* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  outline: 0 !important;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: white;
}

#__next {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

#nprogress {
  z-index: 9999999 !important;
}

#nprogress .peg {
  display: none !important;
}

#nprogress .bar {
  border-bottom-right-radius: 100px !important;
  border-top-right-radius: 100px !important;
}

.gm-style * {
  cursor: default;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar {
  /* -webkit-appearance: auto !important; */
  width: 0 !important;
}

.gm-style .gm-style-iw-c {
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1) !important;
  border: 7px solid white;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style-iw-c button {
  display: none !important;
}
